.facilities {
    padding: 100px 0 0px 0;

    &_title {
        font-family: 'Gilroy Light';
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-top: 50px;
        padding: 0 360px 0px 360px;
    }

    &_column {
        box-shadow: 
        0 0 0 0 rgba(0, 0, 0, 0), /* No shadow at the top */
        0 1px 3px rgba(0, 0, 0, 0), /* Small shadow on the sides */
        0 10px 30px rgba(95, 172, 170, 0.2);
        ;
        padding: 25px;
        border-radius: 15px;

        &__icon {
            background: #4b9895;
            width: 90px;
            height: 90px;
            font-family: 'Montserrat';
            font-size: 30px;
            font-weight: 600;
            line-height: 55px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #5FACA9;
            box-shadow: 0px 3px 0px 0px #418E8B;
            color: #FFFFFF;
            border: none;
            outline: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__title {
            font-family: 'Gilroy Light';
            font-size: 27px;
            font-weight: 900;
            line-height: 35px;
            margin-top: 20px;
        }

        &__text {
            font-family: 'Gilroy Light';
            font-size: 17px;
            font-weight: 600;
            line-height: 25px;
            color: #333;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 1919px) {
    .facilities {
        padding: 60px 0 0px 0;
    
        &_title {
            font-size: 30px;
            line-height: 40px;
        }
    
        &_content {
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            margin-top: 40px;
            padding: 0 160px 0px 160px;
        }
    
        &_column {
            box-shadow: 
            0 0 0 0 rgba(0, 0, 0, 0), /* No shadow at the top */
            0 1px 3px rgba(0, 0, 0, 0), /* Small shadow on the sides */
            0 10px 30px rgba(95, 172, 170, 0.2);
            ;
            padding: 22px;
            border-radius: 15px;
    
            &__icon {
                width: 70px;
                height: 70px;
                font-size: 25px;
                line-height: 45px;
                border-radius: 15px;
                box-shadow: 0px 2px 0px 0px #418E8B;
            }
    
            &__title {
                font-size: 24px;
                line-height: 30px;
                margin-top: 17px;
            }
    
            &__text {
                font-size: 15px;
                line-height: 20px;
                margin-top: 25px;
            }
        }
    }
}


@media screen and (max-width: 1367px) {
    .facilities {
        padding: 50px 0 0px 0;
    
        &_title {
            font-size: 23px;
            line-height: 30px;
        }
    
        &_content {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            margin-top: 20px;
            padding: 0 60px 0px 60px;
        }
    
        &_column {
            box-shadow: 
            0 0 0 0 rgba(0, 0, 0, 0), /* No shadow at the top */
            0 1px 2px rgba(0, 0, 0, 0), /* Small shadow on the sides */
            0 7px 20px rgba(95, 172, 170, 0.2);
            ;
            padding: 20px;
            border-radius: 13px;
    
            &__icon {
                width: 60px;
                height: 60px;
                font-size: 22px;
                line-height: 40px;
                border-radius: 13px;
            }
    
            &__title {
                font-size: 20px;
                line-height: 25px;
                margin-top: 15px;
            }
    
            &__text {
                font-size: 13px;
                line-height: 18px;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .facilities {
        padding: 40px 0 0px 0;
    
        &_title {
            font-size: 21px;
            line-height: 27px;
        }
    
        &_content {
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            margin-top: 16px;
            padding: 0 30px 0px 30px;
        }
    
        &_column {
            box-shadow: 
            0 0 0 0 rgba(0, 0, 0, 0), /* No shadow at the top */
            0 1px 2px rgba(0, 0, 0, 0), /* Small shadow on the sides */
            0 7px 20px rgba(95, 172, 170, 0.2);
            ;
            padding: 20px;
            border-radius: 13px;
    
            &__icon {
                width: 60px;
                height: 60px;
                font-size: 22px;
                line-height: 40px;
                border-radius: 13px;
            }
    
            &__title {
                font-size: 20px;
                line-height: 25px;
                margin-top: 15px;
            }
    
            &__text {
                font-size: 13px;
                line-height: 18px;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .facilities {
        padding: 40px 0 0px 0;
    
        &_title {
            font-size: 20px;
            line-height: 25px;
        }
    
        &_content {
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            margin-top: 16px;
            padding: 0 15px 0px 15px;
        }
    
        &_column {
            box-shadow: 
            0 0 0 0 rgba(0, 0, 0, 0), /* No shadow at the top */
            0 1px 2px rgba(0, 0, 0, 0), /* Small shadow on the sides */
            0 7px 20px rgba(95, 172, 170, 0.2);
            ;
            padding: 20px;
            border-radius: 13px;
    
            &__icon {
                width: 60px;
                height: 60px;
                font-size: 22px;
                line-height: 40px;
                border-radius: 13px;
            }
    
            &__title {
                font-size: 20px;
                line-height: 25px;
                margin-top: 15px;
            }
    
            &__text {
                font-size: 13px;
                line-height: 18px;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .facilities {
        padding: 40px 0 0px 0;
    
        &_title {
            font-size: 16px;
            line-height: 20px;
        }
    
        &_content {
            grid-template-columns: repeat(1, 1fr);
            gap: 25px;
            margin-top: 16px;
            padding: 0 15px 0px 15px;
        }
    
        &_column {
            box-shadow: 
            0 0 0 0 rgba(0, 0, 0, 0), /* No shadow at the top */
            0 1px 2px rgba(0, 0, 0, 0), /* Small shadow on the sides */
            0 7px 20px rgba(95, 172, 170, 0.2);
            ;
            padding: 20px;
            border-radius: 13px;
    
            &__icon {
                width: 60px;
                height: 60px;
                font-size: 22px;
                line-height: 40px;
                border-radius: 13px;
            }
    
            &__title {
                font-size: 20px;
                line-height: 25px;
                margin-top: 15px;
            }
    
            &__text {
                font-size: 13px;
                line-height: 18px;
                margin-top: 20px;
            }
        }
    }
}