.contact {
    background: linear-gradient(to right, rgb(205, 255, 245), rgb(235, 255, 250));
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 300px;
    margin: 100px 360px 0px 360px;
    padding: 54px 94px;
    border-radius: 20px;

    &_content {
        display: flex;
        flex-direction: column;

        &__title {
            font-family: 'Gilroy Light';
            font-size: 45px;
            font-weight: 600;
            line-height: 60px;
        }

        &__text {
            font-family: 'Gilroy Light';
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            color: #333;
            margin-top: 30px;
        }
    }

    &_form {
        display: flex;
        flex-direction: column;

        input, button {
            margin-bottom: 15px;
        }
    }

}

@media screen and (max-width: 1919px) {
    .contact {
        grid-template-columns: 5fr 7fr;
        gap: 225px;
        margin: 60px 160px 0px 160px;
        padding: 50px 90px;
        border-radius: 16px;
    
        &_content {
            &__title {
                font-size: 30px;
                line-height: 40px;
            }
    
            &__text {
                font-size: 20px;
                line-height: 27px;
                margin-top: 27px;
            }
        }
    
        &_form {
            input, button {
                margin-bottom: 13px;
            }
        }
    
    }
}

@media screen and (max-width: 1367px) {
    .contact {
        grid-template-columns: 5fr 7fr;
        gap: 175px;
        margin: 45px 60px 0px 60px;
        padding: 35px 55px;
        border-radius: 14px;
    
        &_content {
            &__title {
                font-size: 25px;
                line-height: 35px;
            }
    
            &__text {
                font-size: 18px;
                line-height: 25px;
                margin-top: 25px;
            }
        }
    
        &_form {
            input, button {
                margin-bottom: 13px;
            }
        }
    
    }
}

@media screen and (max-width: 1024px) {
    .contact {
        grid-template-columns: 5fr 7fr;
        gap: 55px;
        margin: 45px 30px 0px 30px;
        padding: 35px 60px;
        border-radius: 14px;

        display: flex;
        flex-direction: column;
    
        &_content {
            &__title {
                font-size: 23px;
                line-height: 27px;
            }
    
            &__text {
                font-size: 15px;
                line-height: 20px;
                margin-top: 20px;
            }
        }
    
        &_form {
            input, button {
                margin-bottom: 16px;
            }
        }
    
    }
}

@media screen and (max-width: 768px) {
    .contact {
        grid-template-columns: 5fr 7fr;
        gap: 35px;
        margin: 45px 15px 0px 15px;
        padding: 25px;
        border-radius: 14px;

        display: flex;
        flex-direction: column;
    
        &_content {
            &__title {
                font-size: 20px;
                line-height: 25px;
            }
    
            &__text {
                font-size: 10px;
                line-height: 20px;
                margin-top: 20px;
            }
        }
    
        &_form {
            input, button {
                margin-bottom: 16px;
            }
        }
    
    }
}

@media screen and (max-width: 500px) {
    .contact {
        grid-template-columns: 5fr 7fr;
        gap: 30px;
        margin: 45px 15px 0px 15px;
        padding: 20px;
        border-radius: 12px;
    
        &_content {
            &__title {
                font-size: 18px;
                line-height: 22px;
            }
    
            &__text {
                font-size: 10px;
                line-height: 20px;
                margin-top: 15px;
            }
        }
    
        &_form {
            input, button {
                margin-bottom: 16px;
            }
        }
    
    }
}