.header {
    padding: 8px 360px 0px 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .language_select {
        background-color: #f4f4f4;
        border: 2px solid #ccc;
        border-radius: 6px;
        padding: 0 4px;
        color: #333;
        cursor: pointer;
        outline: none;
        transition: all 0.3s ease;
        font-family: 'HelveticaNeueCyr Light';
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.075em;
        text-align: left;
        color: #333333;
        width: fit-content;
        height: 30px;
        margin-top: 14px;

        &:focus {
            border-color: rgb(30, 95, 90);
            box-shadow: 0 0 0 3px rgba(65, 145, 140, .3);
        }
    }

    &_logo {
        display: flex;
        gap: 14px;

        img {
            width: 164px;
        }

        span {
            font-family: 'Gilroy Light';
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            text-align: left;
            display: flex;
            align-items: center;
            width: 130px;
            padding-top: 14px;
        }
    }


    &_nav {
        display: flex;
        align-items: center;
        padding-top: 14px;
        gap: 35px;
        
        &__item {
            width: fit-content;

            

            a {
                font-family: 'HelveticaNeueCyr Light';
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.075em;
                text-align: left;
                color: #333333;
            }
        }
    }

    &_phone {
        padding-top: 14px;

        p {
            font-family: 'Gilroy Light';
            font-size: 20px;
            font-weight: 900;
            line-height: 25px;
            text-align: left;
            color: #333333;
        }

        span {
            font-family: 'Inter';
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            letter-spacing: 0.05em;
            text-align: left;
        }
    }
}

@media screen and (max-width: 1919px) {
    .header {
        padding: 6px 160px 0px 160px;

        .language_select {
            border-radius: 5px;
            padding: 0 3px;
            font-size: 14px;
            line-height: 14px;
            letter-spacing: 0.05em;
            height: 27px;
            margin-top: 18px;
        }

        &_logo {
            gap: 12px;

            img {
                width: 144px;
            }

            span {
                font-size: 11px;
                line-height: 14px;
                width: 120px;
                padding-top: 18px;
            }
        }


        &_nav {
            padding-top: 18px;
            gap: 25px;

            &__item {

                a {
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: 0.05em;
                }
            }
        }

        &_phone {
            padding-top: 18px;

            p {
                font-size: 16px;
                line-height: 20px;
            }

            span {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

@media screen and (max-width: 1367px) {
    .header {
        padding: 5px 60px 0px 60px;

        .language_select {
            border-radius: 4px;
            padding: 0 2px;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 0.05em;
            height: 25px;
            margin-top: 16px;
        }

        &_logo {
            gap: 10px;

            img {
                width: 130px;
            }

            span {
                font-size: 10px;
                line-height: 12px;
                width: 110px;
                padding-top: 16px;
            }
        }


        &_nav {
            padding-top: 16px;
            gap: 20px;

            &__item {
                a {
                    font-size: 12px;
                    line-height: 12px;
                    letter-spacing: 0.05em;
                }
            }
        }

        &_phone {
            padding-top: 16px;

            p {
                font-size: 14px;
                line-height: 18px;
            }

            span {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 5px 30px 0px 30px;

        .language_select {
            border-radius: 4px;
            padding: 0 2px;
            font-size: 11px;
            line-height: 11px;
            letter-spacing: 0.05em;
            height: 23px;
            margin-top: 14px;
        }

        &_logo {
            gap: 8px;

            img {
                width: 110px;
            }

            span {
                font-size: 9px;
                line-height: 11px;
                width: 110px;
                padding-top: 14px;
            }
        }


        &_nav {
            padding-top: 14px;
            gap: 15px;

            &__item {
                a {
                    font-size: 11px;
                    line-height: 11px;
                    letter-spacing: 0.05em;
                }
            }
        }

        &_phone {
            padding-top: 14px;

            p {
                font-size: 12px;
                line-height: 15px;
            }

            span {
                font-size: 10px;
                line-height: 14px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 15px 30px 0px 30px;

        &_logo {
            gap: 8px;

            img {
                width: 110px;
            }

            span {
                display: none;
            }
        }


        &_nav {
            display: none;

            &__item {
                .language_select {
                    border-radius: 4px;
                    padding: 0 2px;
                    font-size: 11px;
                    line-height: 11px;
                    letter-spacing: 0.05em;
                    height: 23px;
                }

                a {
                    font-size: 11px;
                    line-height: 11px;
                    letter-spacing: 0.05em;
                }
            }
        }

        &_phone {
            padding-top: 14px;

            p {
                font-size: 12px;
                line-height: 15px;
            }

            span {
                font-size: 10px;
                line-height: 14px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding: 5px 15px;

        .language_select {
            border-radius: 4px;
            padding: 0 2px;
            font-size: 10px;
            line-height: 10px;
            letter-spacing: 0.05em;
            height: 20px;
            margin-top: 8px;
        }

        &_logo {
            gap: 8px;

            img {
                width: 80px;
            }

            span {
                display: none;
            }
        }


        &_nav {
            display: none;

            &__item {
                a {
                    font-size: 11px;
                    line-height: 11px;
                    letter-spacing: 0.05em;
                }
            }
        }

        &_phone {
            padding-top: 10px;

            p {
                font-size: 11px;
                line-height: 13px;
            }

            span {
                font-size: 9px;
                line-height: 11px;
            }
        }
    }
}