.examples {
    padding: 100px 0 0 0;

    &_title {
        font-family: 'Gilroy Light';
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        text-align: center;
    }

    &_content {
        display: flex;
        gap: 30px;
        padding: 0 15px;
        margin-top: 30px;
    }

    &_column {
        width: 300px;
        border-radius: 25px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        &__footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 98.5px;
            border-radius: 18px;

            background: linear-gradient(354.14deg, #ABDDB1 4.03%, rgba(171, 221, 177, 0) 94.76%),
                linear-gradient(69.8deg, rgba(75, 152, 149, 0.2) 24.51%, rgba(167, 223, 177, 0) 54.39%);

            span {
                font-family: 'Gilroy Light';
                font-size: 25px;
                font-weight: 900;
                line-height: 32px;
                text-align: left;
                color: #144845;
                padding: 8px 14px;
                display: flex;
                align-items: flex-end;
                height: 100%;
            }
        }
    }

    &_submit {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 15px;
    }
}