@font-face {
  font-family: "Gilroy Light";
  src: url(./assets/fonts/gilroy/Gilroy-Light.ttf);
}

@font-face {
  font-family: "Gilroy Medium";
  src: url(./assets/fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy Regular";
  src: url(./assets/fonts/gilroy/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy Bold";
  src: url(./assets/fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
  font-family: "HelveticaNeueCyr Light";
  src: url(./assets/fonts/helveticaneuecyr/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf);
}

@font-face {
  font-family: "HelveticaNeueCyr Regular";
  src: url(./assets/fonts/helveticaneuecyr/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
  font-family: "Gill";
  src: url(./assets/fonts/gill-sans/Gill-Sans.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
}

button.gradient-button {
  width: 334px;
  height: 78px;
  gap: 10px;
  border-radius: 60px;
  font-family: 'Gill';
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.075em;
  text-align: left;
  background: linear-gradient(90deg, #5FACA9 0%, #73C0BD 50.57%, #5FACA9 100%);
  box-shadow: 0px 3px 0px 0px #418E8B;
  color: #FFFFFF;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}